.container{
    background-color: beige;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    display: flex;
    height: 500px;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: start;
    /* align-content: center; */
}

.box{
    /* height: 200px;
    width: 200px; */
    border: 2px solid brown;
    margin: 2px;
    padding: 2px;
}

#box1{
    background-color: aqua;
    /* order: 4; */
    /* flex-shrink: 4; */
}

#box2{
    background-color: blue;
    align-self: center;
}

#box3{
    background-color: orange;
}

#box4{
    background-color: brown;
}