*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    border: 5px solid black;
}

.box{
    width: 350px;
    height: 80px;
    background-color: blue;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    /* animation-name: rightMovement;
    animation-duration: 3s;
    animation-iteration-count: 1; */
    /* animation-delay: 1s; */
    /* animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: both; */
    animation: rightMovement 5s linear 0s infinite alternate none running;
}

@keyframes rightMovement {
    from {
        top: 0;
        left: 0;
    }
    to {
        top: 0;
        left: 1150px;
    }
}

.box2 {
    width: 350px;
    height: 80px;
    background-color: blue;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    animation: leftMovement 5s linear 0s infinite alternate none running;
}

@keyframes leftMovement {
    from {
        top: 400px;
        left: 1150px;
    }
    to {
        top: 400px;
        left: 0px;
    }
}

.circle {
    width: 80px;
    height: 80px;
    background-color: blue;
    border: 3px solid yellow;
    border-radius: 40px;
    margin: 10px;
    position: relative;
    top: 25%;
    left: 45%;
    animation: circleMovement 20s linear 0s infinite none running;
}

@keyframes circleMovement {
    0% {
        top: -10px;
        left: 50px;
    }
    30% {
        top: 400px;
        left: 1350px;
    }
    50% {
        top: -10px;
        left: 1350px;
    }
    80% {
        top: 400px;
        left: 50px;
    }
    100% {
        top: -10px;
        left: 50px;
    }
}